@font-face {
    font-family: 'figtree';
    /* Ein frei wählbarer Name */
    src: url('./fonts/Figtree-VariableFont_wght.ttf') format('woff2'),
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    color: white;
    font-size: clamp(1.5rem, 5vw, 5rem);
    margin: 0;
    font-weight: 800;
    margin-bottom: 150px;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.img-btn {
    padding: 0;
    border: none;
    background: none;
    width: clamp(150px, 25vw, 350px);
    aspect-ratio: 1 / 1;                 /* Immer quadratisch */
    display: inline-block;              /* Sicherstellen, dass aspect-ratio funktioniert */
    overflow: hidden;                   /* Verhindert, dass Bild übersteht */
    border-radius: 16px;                /* Abgerundete Ecken */
    border: 2px solid white;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.img-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;                      /* Zuschneiden ohne Verzerren */
    display: block;                         /* Verhindert kleine Lücken */
}

.album {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.img-btn:hover {
    border-color: #7bf057;
}

.img-btn:hover img {
    transform: scale(1.15); /* Optional: Bild leicht vergrößern */
}

body {
    font-family: 'figtree', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #09212A;
    color: #fff;
    text-align: center;
    padding: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    width: 350px;
    padding: 16px;
}

main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #09212A;
    color: #fff;
    text-align: center;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 100% 100% 0 0 / 80px; */
}

.footer_logo {
    width: 350px;
    padding: 16px;
}

.wrapper {
    /* Die maximale Breite, ab der der Inhalt nicht weiter wächst */
    max-width: 1440px;

    /* Zentriert den Container horizontal */
    margin-left: auto;
    margin-right: auto;

    /* Verhindert, dass der Inhalt auf Handys an den Rand klatscht */
    padding-left: 20px;
    padding-right: 20px;

    /* Sorgt dafür, dass padding nicht die Breite beeinflusst (wichtig!) */
    box-sizing: border-box;
}

.footer_test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



