body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.footer_logo {
    width: 350px;
    padding: 32px;
}   

.wrapper {
    /* Die maximale Breite, ab der der Inhalt nicht weiter wächst */
    max-width: 1200px; 
    
    /* Zentriert den Container horizontal */
    margin-left: auto;
    margin-right: auto;
    
    /* Verhindert, dass der Inhalt auf Handys an den Rand klatscht */
    padding-left: 20px;
    padding-right: 20px;
    
    /* Sorgt dafür, dass padding nicht die Breite beeinflusst (wichtig!) */
    box-sizing: border-box; 
}

.footer_test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



















