
    /* Fonts */

@font-face {
    font-family: 'figtree';
    src: url('./fonts/Figtree-VariableFont_wght.ttf') format('woff2'),
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    color: white;
    font-size: clamp(1.5rem, 5vw, 4rem);
    margin: 0;
    font-weight: 800;
    margin-bottom: 80px;
    margin-top: 46px;
    text-align: center;
}


/* Dialog */


dialog {
    background-color: #09212A;
    border-radius: 60px;
    color: #fff;
    width: 300px;
}

#dialogImage {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 16px;
}

.dialogButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

.dialogHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

button {
    padding: 0;
    border: none;
    background: none;
}

.dialogBtn {
    background-color: #09212A;
    padding: 16px;
    color: #fff;
    border-radius: 10px;
    margin-top: 16px;
    cursor: pointer;
}

/* Dialog end */


/* Images and Album */

.img-btn {
    padding: 0;
    border: none;
    background: none;
    width: clamp(150px, 25vw, 250px);
    aspect-ratio: 1 / 1;
    display: inline-block;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid white;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.img-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.album {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}


.img-btn:hover img {
    transition: 1s;
    filter: grayscale(100%);
    transform: scale(1.15);
}

/* Images and Album end */

body {
    font-family: 'figtree', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}



/* Header */

header {
    background-color: #09212A;
    color: #fff;
    text-align: center;
    padding: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    width: 350px;
    padding: 16px;
    width: clamp(150px, 25vw, 350px);
}

/* Header end */

main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex: 1;
}


/* Footer */

footer {
    background-color: #09212A;
    color: #fff;
    text-align: center;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    width: 350px;
    padding: 16px;
    width: clamp(150px, 25vw, 350px);
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.footer_test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* Footer end */


/* @media (max-width: 1092px) {
    dialog {
        width: 600px;
        padding: 24px;
        border-radius: 32px;
    }

    #dialogImage {
        width: 99%;
    }
}

@media (max-width: 700px) {
    dialog {
        width: 500px;
        padding: 24px;
        border-radius: 32px;
    }

    #dialogImage {
        width: 99%;
    }
} */

@media (max-width: 600px) {
    /* dialog {
        width: 240px;
        padding: 24px;
        border-radius: 32px;
    }

    #dialogImage {
        width: 99%;
    } */

    .footer_test {
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
}