body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: 'column; */
    align-items: center;
}   

.footer_logo {
    width: 350px;
    padding: 32px;
}   